1.Importing libraries and data set
2. Merge data sets
3. Task 2

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [10]:
#upload orders_products_proir file
df_ords_prior = pd.read_csv(r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis/02 Data/Prepared Data/order_products__prior.csv', index_col = False)

In [4]:
#upload orders_checked file
df_ords = pd.read_csv(r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis/02 Data/Prepared Data/orders_checked.csv', index_col = False)

In [11]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,0.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [7]:
df_ords.shape

(3421083, 8)

In [12]:
df_ords_prior.shape

(32434489, 4)

In [13]:
#merge data sets
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head

<bound method NDFrame.head of           Unnamed: 0.1  Unnamed: 0  order_id  user_id  order_number  \
0                    0           0   2539329        1             1
1                    0           0   2539329        1             1
2                    0           0   2539329        1             1
3                    0           0   2539329        1             1
4                    0           0   2539329        1             1
...                ...         ...       ...      ...           ...
32434484       3421081     3421081   2977660   206209            13
32434485       3421081     3421081   2977660   206209            13
32434486       3421081     3421081   2977660   206209            13
32434487       3421081     3421081   2977660   206209            13
32434488       3421081     3421081   2977660   206209            13

          orders_day_of_week  order_hour_of_day  days_since_prior_order  \
0                          2                  8                     0.0
1                          2                  8                     0.0
2                          2                  8                     0.0
3                          2                  8                     0.0
4                          2                  8                     0.0
...                      ...                ...                     ...
32434484                   1                 12                     7.0
32434485                   1                 12                     7.0
32434486                   1                 12                     7.0
32434487                   1                 12                     7.0
32434488                   1                 12                     7.0

          product_id  add_to_cart_order  reordered _merge
0                196                  1          0   both
1              14084                  2          0   both
2              12427                  3          0   both
3              26088                  4          0   both
4              26405                  5          0   both
...              ...                ...        ...    ...
32434484       14197                  5          1   both
32434485       38730                  6          0   both
32434486       31477                  7          0   both
32434487        6567                  8          0   both
32434488       22920                  9          0   both

[32434489 rows x 12 columns]>

In [15]:
#check merge counts_ note that count is wrong by pandas_not a full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
#Define path
path = r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis'

# # Tasks

#2

In [17]:
#Export Pickle file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [18]:
df_merged_large.shape

(32434489, 12)