1. Import Libraries
2. Tasks 3- 7

In [4]:
#import libraries
import pandas as pd
import numpy as np
import os

In [5]:
#Define path
path = r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis'

#3 Import pickle file

In [6]:
#upload orders_products_combined file
df_ords_cmd = pd.read_pickle(r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

Task #4 Check Shape

In [7]:
#matches the download
df_ords_cmd.shape

(32434489, 12)

#5 combine orders_products_combined and products

In [8]:
#upload products checked file
df_prods = pd.read_csv(r'/Users/joshd/Documents/Personal/CareerFoundry/Instacart Basket Analysis/02 Data/Prepared Data/products_checked.csv', index_col = False)

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_ords_cmd.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [15]:
#merge data sets
df_merged_prod = df_prods.merge(df_ords_cmd, on = 'product_id', how = 'inner', indicator = 'exists')

In [16]:
df_merged_prod.head

<bound method NDFrame.head of           Unnamed: 0_x  product_id                product_name  aisle_id  \
0                    0           1  Chocolate Sandwich Cookies        61
1                    0           1  Chocolate Sandwich Cookies        61
2                    0           1  Chocolate Sandwich Cookies        61
3                    0           1  Chocolate Sandwich Cookies        61
4                    0           1  Chocolate Sandwich Cookies        61
...                ...         ...                         ...       ...
32404854         49692       49688      Fresh Foaming Cleanser        73
32404855         49692       49688      Fresh Foaming Cleanser        73
32404856         49692       49688      Fresh Foaming Cleanser        73
32404857         49692       49688      Fresh Foaming Cleanser        73
32404858         49692       49688      Fresh Foaming Cleanser        73

          department_id  prices  Unnamed: 0.1  Unnamed: 0_y  order_id  \
0                    19     5.8          1987          1987   3139998
1                    19     5.8          1989          1989   1977647
2                    19     5.8         11433         11433    389851
3                    19     5.8         12198         12198    652770
4                    19     5.8         12200         12200   1813452
...                 ...     ...           ...           ...       ...
32404854             11    13.5       3321928       3321928   1788356
32404855             11    13.5       3324686       3324686   3401313
32404856             11    13.5       3332310       3332310    809510
32404857             11    13.5       3332314       3332314   2359893
32404858             11    13.5       3416620       3416620   2385091

          user_id  order_number  orders_day_of_week  order_hour_of_day  \
0             138            28                   6                 11
1             138            30                   6                 17
2             709             2                   0                 21
3             764             1                   3                 13
4             764             3                   4                 17
...           ...           ...                 ...                ...
32404854   200215             2                   0                  9
32404855   200377             1                   4                 11
32404856   200873             5                   3                  8
32404857   200873             9                   3                 15
32404858   205926            11                   1                 15

          days_since_prior_order  add_to_cart_order  reordered _merge exists
0                            3.0                  5          0   both   both
1                           20.0                  1          1   both   both
2                            6.0                 20          0   both   both
3                            0.0                 10          0   both   both
4                            9.0                 11          1   both   both
...                          ...                ...        ...    ...    ...
32404854                     5.0                 27          0   both   both
32404855                     0.0                  5          0   both   both
32404856                    15.0                 12          0   both   both
32404857                     5.0                 11          1   both   both
32404858                     6.0                 35          0   both   both

[32404859 rows x 18 columns]>

#6 Check merge flag

In [17]:
#check merge counts_ 
df_merged_prod['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

#7 Export

In [18]:
#Export Pickle file
df_merged_prod.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))